.g-geojs-map-container
  height 500px
  width 100%
  background-color #eee
  position relative

  .g-geojs-map-overlay-topleft
    position absolute
    top 10px
    left 10px
    z-index 100
    font-size 15px
