.g-pc-container
  height 500px
  width 100%
  background-color #eee
  position relative
  outline none

  .g-pc-overlay-topleft
    position absolute
    top 10px
    left 10px
    z-index 100
    font-size 15px
    text-shadow 0 0 3px white
